@import "tailwindcss";

@theme {
  --color-brand-green: #10b981;
  --color-brand-green-hover: #059669;
}

body {
  font-family: var(--font-inter), sans-serif;
  background-color: var(--color-slate-950);
  color: var(--color-slate-50);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
